<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="general" label="COM_TJNOTIFICATIONS_SETTINGS_GENERAL" description="">
		<field name="enable_logs" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_TJNOTIFICATIONS_ALLOW_SAVE_OPTION" description="COM_TJNOTIFICATIONS_APPLICATION_OPTION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="tjpush_plugin" type="sql" default="" label="COM_TJNOTIFICATIONS_SETTINGS_CHOOSE_PUSH_PROVIDER" description="COM_TJNOTIFICATIONS_SETTINGS_CHOOSE_PUSH_PROVIDER_DESC" query="SELECT element, name FROM #__extensions WHERE type='plugin' AND folder='tjpush' AND enabled=1" key_field="element" value_field="name" />

		<field name="tjsms_plugin" type="sql" default="" label="COM_TJNOTIFICATIONS_SETTINGS_CHOOSE_SMS_PLUGIN" description="COM_TJNOTIFICATIONS_SETTINGS_CHOOSE_SMS_PLUGIN_DESC" query="SELECT element, name FROM #__extensions WHERE type='plugin' AND folder='tjsms' AND enabled=1" key_field="element" value_field="name" />

		<field name="tjwhatsapp_plugin" type="sql" default="" label="COM_TJNOTIFICATIONS_SETTINGS_CHOOSE_WHATSAPP_PROVIDER" description="COM_TJNOTIFICATIONS_SETTINGS_CHOOSE_WHATSAPP_PROVIDER_DESC" query="SELECT element, name FROM #__extensions WHERE type='plugin' AND folder='tjwhatsapp' AND enabled=1" key_field="element" value_field="name" />
	</fieldset>

	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
		<field name="rules" type="rules" component="com_tjnotifications" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>
</config>

